@font-face {
  font-family: "GT Walsheim";
  src: url("gtwm.ttf");
  font-weight: "700";
}

@font-face {
  font-family: "GT Walsheim";
  src: url("gtw.ttf");
  font-weight: "400";
}

@font-face {
  font-family: "FF Meta Serif Pro";
  src: url("ffmsp-bi.otf");
  font-weight: 400;
}

*, abbr {
  font-family: "GT Walsheim", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1C3A5F;
}

html, body {
  background: #F2F0EA;
  font-weight: 100;
}

.banner-container {
  background: #3081E8;
  margin-bottom: 30px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "GT Walsheim", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 42px;
  letter-spacing: -1px;
  font-weight: 500;
}

#leaderboard, #match-data {
  margin-bottom: 50px;
}

#profile-container {
  color: white;
}

#profile {
  height: 200px;
}

#profile-image {
  border: solid 5px white;
}

#profile-name {
  font-size: 42px;
  color: #FFFFFF;
}

#profile-rank {
  font-size: 72px;
  color: white;
}

.sub-head {
  font-family: "FF Meta Serif Pro";
  font-size: 25px;
  color: #CBCBCB;
  top: -15px;
  position: relative;
}

.lb-header {
  background: #FFE37D;
  height: 75px;
}

.lb-row {
  height: 70px;
  background: white;
  font-size: 16pt;
}

.lb-row.lb-row-sm {
  height: 50px;
  font-size: 14pt;
}

.lb-link {
  color: #1C3A5F;
}

.match-counts {
  height: 200px;
  background: white;
}

.match-counts .count {
  font-weight: 500;
  font-size: 42px;
}

.quick-stats {
  height: 297px;
  background: #E7E7E7;
}

.win {
  color: #00B36F;
}

.loss {
  color: #FF4F00;
}

.right-spacer {
  margin-right: 25px !important;
}

.top-spacer {
  margin-top: 25px !important;
}

.bar {
  height: 10px;
}

.win-bar {
  background: #00B36F;
}

.lose-bar {
  background: #FF4F00;
}
